body,
html {
    font-family: Roboto, sans-serif;
    font-size: .94rem;
    font-weight: 400;
    line-height: 1.5;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700; 
    font-size: 2.25rem
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    color: #6c757d;
}

h6 {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 700; 
}

[aria-expanded="false"] .menu__icon--open {
    display: block;
}
  
  [aria-expanded="false"] .menu__icon--close {
    display: none;
}
  
  [aria-expanded="true"] .menu__icon--open {
    display: none;
}
  
  [aria-expanded="true"] .menu__icon--close {
    display: block;
}

/* First Navbar */

.FirstNavbar {
    z-index: 2;
}

.navbar-light .navbar-toggler {
    outline: none!important;
    border: #092B52;
}

.navbar-light .navbar-nav .nav-link {
    color: #6c757d;;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #6c757d;
    text-decoration: underline;
}

#projectBranding1 {
    margin-left: 10px;
    line-height: 1.32rem;
}

.EATitle1 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size:  1.14rem;
    color: #0e4194;
    margin-left: -15px;
}

.navbar-brand3 {
    margin-left: 2rem;
}

.navbar-brand4 {
    margin-left: 2rem;
    margin-right: 2rem;
}

/* Second Navbar */

.SecondNavbar {
    z-index: 1;
}

.navbar-dark .navbar-toggler {
    color: #ffffff;
    outline: none!important;
    border: #092B52;
}

.titleMargin {
    margin-top: .4rem;
    margin-left: 1rem;
}

.bg-dark {
    background-color: #092B52!important;
}

.iv-logo {
    width: 50px;
}

#projectBranding2 {
    margin-left: 10px;
    line-height: 1.32rem;
}

.projectTitle,
.projectTitle {
    font-size: 1.14rem;
    font-style: italic;
    font-weight: 700;
    color: #ffffff;
}

.projectSlogan {
    font-size: .8rem;
    font-weight: 700;
    color: #ffffff;
}

.slant {
    background-color: #f9f9f966;
    height: 2rem;
    width: 2px;
    margin-left: 15px;
    transform: rotate(10deg);
}

.EATitle2 {
    font-size:  1.14rem;
    font-style: italic;
    font-weight: 700;
    color: #ffffff;
    margin-left: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.barcode-input input {
    font-size:  .8rem;
    font-style: italic;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid white;
    color: #ffffff;
    background-color: transparent;
    width: 300px;
    outline: none!important;
}

.btn-link{
    margin-left: -1.8rem;
    color: #ffffff;
}

/* Footer */

.footerHead {
    padding: 1rem;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #6c757d;
}

.text-footer {
    font-family: Roboto, sans-serif; 
    font-size: .8rem;
    color: #6c757d;
}

.text-footer2 {
    font-family: Roboto, sans-serif; 
    font-size: .8rem;
    color: #6c757d;
    margin-left: 2rem;
}

.footer {
    background-color: #F8f9fa;
}



/*
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
*/

